/* Estilo para el cuerpo de la página */
body {
    font-size: 2px;
    font-display: flexbox;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #000000;
}

.carga{
    text-align: center;
    margin-top: 47%;
}

#c1{
    width: 258px;
    margin-left: -2%;    
}

.alert{
    text-align: center;
    color: aliceblue;
}

.alert{
    margin-left: 2%;
}


.alert {
    font-size: 24px;
    color: #008cff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #d400ff;
    animation: escribiendo 3s steps(30, end);
  }
  
  @keyframes escribiendo {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  